[Desktop Entry]
Encoding=UTF-8
Name=Lien vers User Avatar of Baudhuin Pierre
Type=Link
URL=https://s.cdpn.io/profiles/user/3521954/512.jpg?1566839411
Icon=image-jpeg
