
body { 
    box-sizing: border-box ;
    width: 100%;
    margin-left : 0px ;
    margin-top: 0px ;
 }

header, footer {

        background-color: rgb(34, 29, 29);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 4vw;

        display: flex;
        justify-content: stretch;
        align-items: center;

        position: fixed;
        width: 100%;
        height: 7vw;
    }
header { z-index: 1}

header ul {

    list-style-type: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

    margin: 0 ;
    padding: 0 ;

    height: 100%;

}
header ul li {

    text-align: center;
    vertical-align: center;
    padding: 0;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 10px;
    height: 100%;

}

header > ul > li:hover {

    background-color: gray;
    color: black;

}

article, hr, form, footer {

    position: relative ;
    top: 7vw ;
}
.carousel {

    background-color: gray;

    margin: 0 ;
    padding: 0 ;

    width: auto;
    height: 100px;

    display: block;
    
}

.lookWanted, form {

    /* background-color: greenyellow; */

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    padding-left: 50px;
    padding-right: 50px;
    margin: auto ;
}

 h2 {

    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vw;

    padding: 5px;
    margin: 5px ;

    white-space: nowrap;

}

.wanted {

    background-color: gray;

    margin-top: 5px;
    margin-bottom: 15px;

    width: 90%;
    flex-basis: 50px;

}
.wanted > p { visibility: hidden }

 /* form { background-color: green;} */

 form p {

    /* background-color: hotpink; */

    

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;

    margin-block-start: 0px;
    margin-bottom: 0px; 

    width: 100%;

 }

 label {
     display: none ;
 }
 input, select, textarea {

    border-radius: 4px ;
    margin-bottom: 7px ;
    width: 100%;
 }
 select {width: calc(6px + 100%)}

 form > input {

    width : auto ;
    align-self: flex-end;

    position: relative ;
    left: 6px; 
 }

footer {  
    height: auto;
    /*
    display: flex;
    justify-content: right;
    align-items: center; */
    display: block;
    margin-bottom: 0px;
}
footer #wideScreen {
    display: none;
}

footer #GSM { 

    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    align-self: center;
 

 }

footer #GSM li {

    font-size: 2vw;
 }


/* ============================================================   ============================================== */
 

@media screen and (min-width: 500px) {

    header {

            font-size: 2em;
            height: 100px; 
        }

    /* header ul {} */

    header ul li {

        /* text-align: center;
        vertical-align: center; */
        padding: 0;
        padding-top: 14px;
        padding-left: 12px;
        padding-right: 10px;
        /* height: 100%; */

    }

    /* header > ul > li:hover {} */

    article, hr, form, footer {

        position: relative ;
        top: 100px ;
    }
    .carousel {

        /* background-color: gray;

        margin: 0 ;
        padding: 0 ; */

        width: auto;
        height: 300px;

        display: block;
        
    }

    .lookWanted, form {

        /* background-color: greenyellow; */

        display: flex;
        flex-flow: row wrap; /* here changes style */
        justify-content: space-around; 
        align-items: flex-start;

        /* padding-left: 50px;
        padding-right: 50px; */
        /* margin: auto ; */
    }
    .lookWanted { max-width: 888px;}  /* here changes style */

    h2 {

        /* color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        font-size: 3em;

        padding: 20px;
        margin: 5px ;

        /* white-space: nowrap; */

    }

    .wanted {

        /* background-color: gray;

        margin-top: 5px;
        margin-bottom: 15px; */

        height: 200px ;
        flex-basis: 222px;

    }
    .wanted > p { visibility: hidden }

    form { max-width: 666px; } /* here changes style */

    /* form p {
        

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: flex-start;

        margin-block-start: 0px;
        margin-bottom: 0px; 

        width: 100%;

    } */

    /* label {
        display: none ;
    } */

    /* input, select, textarea {

        border-radius: 4px ;
        margin-bottom: 7px ;
        width: 100%;
    }
    select {width: calc(6px + 100%)} */

    form > input {

        width : auto ;
        align-self: flex-end;

        position: relative ;
        left: 20.5vw; /* here changes style */
    }

    footer {  
        height: 100px; /* here changes style */
        /*
        display: flex;
        justify-content: right;
        align-items: center; */
        display: flex;
        justify-content: center ;
        align-self: center;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    footer #GSM {
        display: none ;
    }

    footer #wideScreen {

        list-style-type: none;

        display: flex ;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;

        padding: 0px;
        margin: 0px;

        width: 100%;

    }

    footer #wideScreen li {

        font-size: 1.2rem ;


    }