/* ________________ nav searchbar by Pierre _________________ */

body {
  background-color: rgb(197, 0, 0) ;
  /* box-sizing: border-box ;
  width: 100% ;
  display : flex ;
  flex-direction : column ; 
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap ; */

  margin : 0px ;
  padding: 0px ;
}
nav {

  font-size: 1.1em ;
  

  float: left ;
  /* background-color : green ; */

  position : fixed ;

  margin : 0px ;
  padding: 0px ;
  padding-top: 5px ;
  padding-bottom: 7px ;

  width: 100% ;

  top : 25% ; 
  left : 0% ;   /* ==============================*/

}

nav > div {
    display : inline-flex ; /*===========*/
    flex-direction : column ; 
    align-items: flex-start;   /* ==============================*/
    justify-content: stretch;
    flex-wrap: nowrap ;
    margin : 0px ;
    padding: 0px ;
    padding-bottom: 8px ;
    margin-left: 5px ; /*========================================*/
    transition: align-items 2s ease-in-out ; /*~~~~~~~~~~~~~~~~~~~~~~~*/

}
nav > div:hover{
    align-items: center ; 
}

 #findName {

    background-color: white;
    border : 2px solid rgb(192, 192, 192) ;
    border-top-right-radius: 15px 50%;
    border-bottom-right-radius: 15px 50%;
    border-top-left-radius: 15px 50%;
    border-bottom-left-radius: 15px 50%;

    box-sizing: border-box ;
    padding: 5px ;
    padding-left: 2ex ;
    padding-right: 2ex ; 
    margin : 10px ;
    margin-left : 2px ; /*========================================*/

    width: 10px ;
    transition: width 1s ease-in-out ;
}

#findName:hover {
    box-shadow: 3px 4px 20px rgba(255, 123, 91, 0.8) ; /*==========================================*/
    

}
#findName:focus {
    width: 200px ;
}


ol, li {
  background-color:rgba(225,225,225, 0.6) ; /*=====================================================================*/
  list-style-type:none;
  padding : 5px ;
  border-radius : 2em ;
  margin : 0px ;
  padding: 5px ;
  /* margin-left: 95px ; ====================================================================== */
  
}
ol {
  
  min-width : 1.4em ;
  padding-top : 1em ;
  padding-bottom : 1em ;
  display: auto ;
  max-height: 50vh;
  overflow: auto ; 
  overflow: -moz-scrollbars-none; 
  -ms-overflow-style: none;
}
ol::-webkit-scrollbar { width: 0 !important }  


li {
  display: none ;
}
ol li:first-of-type {
  font-size : 0.8em ;
  text-decoration : underline ;
}

a:link {
  text-decoration : none ;
  color : black ;

}
a:hover {
  font-size: 1.2em ;
  font-weight: 350 ;
}



/* ________________ Fin : nav searchbar _________________ */
